* {
  margin: 0%;
  padding: 0%; }

body {
  background-color: #7f0824;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  margin: 0%; }

header {
  display: grid;
  justify-items: center; }
  header .nav li {
    padding: 8px 10px;
    border-radius: 3px; }
    header .nav li:hover {
      background-color: #4b4d4d;
      transition: 0.5s; }

.nav ul {
  justify-content: center;
  flex-wrap: nowrap; }
  .nav ul .nav-item {
    text-align: center;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px; }
    .nav ul .nav-item:hover {
      background-color: #4b4d4d;
      transition: 0.5s; }

img {
  margin-top: 40px; }
  img .row .picture {
    padding: 25px;
    width: 100%;
    height: 500px; }
    img .row .picture:hover {
      border: solid;
      margin: 3px;
      background-color: #7f0824; }

.btn-danger {
  padding-right: 40px;
  padding-left: 30px; }

h1 {
  display: flex;
  color: aliceblue;
  font-size: 23px;
  margin-top: 18px;
  margin-bottom: 20px; }

.container-fluid {
  margin: 0%; }

.contactanos {
  justify-content: start; }

.liFormulario,
.formulario {
  color: aliceblue;
  font-size: small;
  margin-bottom: 3px;
  text-align: inherit;
  display: grid;
  height: auto;
  width: 100%; }

.tracking-in-expand {
  justify-content: center; }

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand 10s cubic-bezier(0.215, 0.61, 0.355, 1) both; }

@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    opacity: 1; } }

@keyframes tracking-in-expand {
  0% {
    letter-spacing: -.5em;
    opacity: 0; }
  40% {
    opacity: .6; }
  100% {
    opacity: 1; } }

.scale-in-ver-center {
  -webkit-animation: scale-in-ver-center 3s;
  animation: scale-in-ver-center 3s; }

@-webkit-keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

@keyframes scale-in-ver-center {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    opacity: 1; } }

.puff-in-top {
  -webkit-animation: puff-in-top 2s;
  animation: puff-in-top 2s; }

@-webkit-keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

@keyframes puff-in-top {
  0% {
    -webkit-transform: scale(2);
    transform: scale(2);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(4px);
    filter: blur(4px);
    opacity: 0; }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1; } }

.imagen4 {
  padding: 0%;
  width: 100%; }

.navbar {
  flex-direction: column;
  margin-right: 3%;
  margin-left: 3%; }

.menuContacto li:hover {
  transition: 1s;
  background-color: brown;
  padding: 6px;
  border-radius: 2px; }

.botonMenu {
  color: aliceblue;
  background: none;
  border: none;
  font-size: 40px;
  padding-left: 50px;
  display: none; }

h2 {
  display: flex;
  margin-left: 20%; }

.datos {
  display: contents; }

.contacto2 .liContacto {
  display: block;
  color: aliceblue;
  margin-bottom: 10px; }

.contacto2 {
  display: block;
  margin-bottom: 40px; }

.mapa {
  display: flex;
  margin-right: 100px; }

h2 {
  color: aliceblue;
  font-size: xx-large;
  display: contents; }

.contenido {
  margin-right: 60px;
  color: aliceblue;
  font-size: large;
  display: block; }

.titulo {
  text-align: center;
  margin-bottom: 50px; }

.listadoProductos {
  display: flex;
  margin-top: 2%; }

.listado {
  color: aliceblue;
  margin-left: 8%;
  margin-right: 7%; }

.picture:hover,
.picture1:hover {
  border: 3px solid #7f0824; }

.row .picture {
  width: 100%;
  height: 500px; }

footer {
  margin-top: 100px;
  width: 100%; }
